<%= form_with(model: voisin, local: true) do |form| %>
  <% if voisin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voisin.errors.count, "error") %> prohibited this voisin from being saved:</h2>

      <ul>
        <% voisin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="field">
    <%= form.label :favory %>
    <%= form.check_box :favory %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
